<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwu0sDJaWlKFp7zShs3C8exGmCTI5i03I</string>
	<key>GCM_SENDER_ID</key>
	<string>879996278712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example</string>
	<key>PROJECT_ID</key>
	<string>tempproject-ee470</string>
	<key>STORAGE_BUCKET</key>
	<string>tempproject-ee470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879996278712:ios:1eedf9806b0e6a989b614d</string>
</dict>
</plist>